.dashboard-layout {
  display: flex;
  height: calc(100vh - 91px);
  overflow: hidden;
}

.dashboard-content {
  flex: 1;
  // padding: 2rem;
  background: #fff;
  height: calc(100vh - 91px);
  overflow: scroll;
}
