.dashboard-page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  // height: calc(100vh - 91px);
  // overflow: hidden;

  .dashboard-page-header {
    flex-shrink: 0;
    margin-bottom: 1.5rem;

    h1 {
      margin: 0;
      font-size: 1.75rem;
      font-weight: 600;
      color: #222;
    }

    .subtitle {
      margin-top: 0.25rem;
      font-size: 1rem;
      color: #666;
      white-space: pre;
      width: 100%;
      text-wrap: wrap;
    }
  }

  .dashboard-page-content {
    flex: 1;
    // overflow-y: auto;
    padding-right: 0.5rem;
  }
}
