/* HomePage.css */
.homepage-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 3rem 2rem;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;

  h1 {
    margin-bottom: 1rem;
    font-size: 25px;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #007acc;
  }

}

.homepage-section {
  margin-bottom: 3rem;
}


p {
  font-size: 1.1rem;
}

.example-image {
  display: block;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.impact-list {
  list-style: none;
  padding: 0;
}

.impact-list li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.impact-bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 0.75rem;
  flex-shrink: 0;
}
