.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background: #97ec97;
  .title-container
  {
    margin-left: 10px;
  }

  .subtitle 
  {
    font-size: 0.8rem;
    color: #666;
    // margin-top: 5px;
  }
}


.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  // background-color: #fff;
  // border-bottom: 1px solid #eee;

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    .nav-link {
      text-decoration: none;
      color: #444;
      font-size: 1rem;
      font-weight: 500;
      transition: color 0.2s ease;

      &.active {
        color: #007acc;
        font-weight: 600;
      }

      &:hover {
        color: #007acc;
      }
    }
  }
}
