.explore-page
{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 20px;
}

.tree-selector-container
{
  height:100vh;
  overflow: scroll;
}

.comparative-plot-container
{
  flex-grow: 1;
}