.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    // background-color: #363f30;
    // color: white;
  // .title-container
  // {
  //   /* display: flex;
  //   flex-direction: column; */
  //   /* gap: 10px; */
  // }
}

.explore-page
{
  height:calc(100vh - 90px);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  // padding: 1rem;
  gap: 20px;
}

.tree-selector-container
{
  height:calc(100vh - 90px);
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
}

.comparative-plot-container
{
  height:calc(100vh - 90px);
  overflow: scroll;
  flex-grow: 1;
  box-sizing: border-box;
}